@page "/"
<html>
<body>
    
    <div>
        <img src="./sample-data/Soundwave.PNG" height="125" width="650"/>
      </div>
    <div>
        <h4>Find new music instantly!</h4>
        <p>With hundreds of thousands of song to browse from update your library today!
        Whether it's to keep you motivated during a workout or just to freshen up your playlist we are here to help!</p>
    </div>
</body>
</html>
