@page "/about"
@inject IJSRuntime JSRuntime;

<html>
<head>
    <style>
        #label {
            color: #C2248B;
            font-family: Copperplate, fantasy;
            font-size: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <form>
        <div>
            <h2 id="label">About Us</h2>

            <p>
                With Tune Tip it's easy to find song recommendations to enhance your playlist.<br />
                With our machine learning technology we strive to make exceptional song <br />
                recommendations. Our service is different than other streaming service's song<br />
                recommendations because we have a wide spread of data. By connecting to a wide<br />
                spread of streaming services we are able pick up on trends and offer more diverse<br />
                selections in our recommendations than any other streaming platform.
            </p>

            <h3 id="label">Customer Service & Support</h3>
            <p>Need help getting started? Click on this support <a href="/support">link</a> to view our setup process.</p>

            <h3 id="label">Tune Tip HQ</h3>
            <p>
                <b>Address: </b>One University Plaza, Springfield, IL 62703<br />
                <span><b>Phone:</b> 123-456-7890</span><br />
                <span><b>Email:</b><a> help@tunetip.com</a></span><br />
            </p>
        </div>
    </form>
</body>
</html>

@code{ protected override async Task OnAfterRenderAsync(bool firstRender)
            {
                await JSRuntime.InvokeVoidAsync("setTitle", "Tune Tip - About"); ;
            } }