@page "/account"
@using MusicRecommendation.App.Components
@using MusicRecommendation.App.Models 
@inherits GridMusic  
<html>
<head>
    <PageTitle Value="@GetPageTitle()" />
    <style>
        #recommendationbutton {
            border-radius: 12px;
            background-color: #2ECC71;
            border: none;
            padding: 10px;
            color: white;
            margin-top: 10px;
        }

        #syncmusic {
            border-radius: 12px;
            background-color: #C2248B;
            border: none;
            padding: 10px;
            color: white;
            margin-top: 10px;
        }

        #spinner-loader {
            color: #5ADCC0;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div>
        <div><GridMusic/></div>
    </div>

</body>
</html>

@code
{ 
    private string GetPageTitle() => $"Tune Tip - Account";
}