@page "/"
@inject NavigationManager UriHelper
@using MusicRecommendation.App.Components


<html>
<head>

    <PageTitle Value="@GetPageTitle()" />
    <style>
        #img-button {
            height: 105px;
            width: 120px;
            background-size: cover;
            vertical-align: middle;
            border: none;
            margin-top: 30px;
        }

        #header {
            margin-left: 20px;
        }

        #text {
            margin-top: 30px;
        }

        #breakup-text {
            margin-top: 50px;
        }

        #img {
            margin-top: 20px;
        }

        #login-text {
            color: #61D1F5;
            font-family: Copperplate, fantasy;
            font-size: 70px;
            margin-top: 20px;
            margin-left: 35px;
        }

        #sync-text {
            color: #22ABD6;
            font-family: Copperplate, fantasy;
            font-size: 70px;
            margin-top: 20px;
            margin-left: 35px;
        }

        #refresh-text {
            color: #AD61F5;
            font-family: Copperplate, fantasy;
            font-size: 70px;
            margin-top: 20px;
            margin-left: 35px;
        }

        #go-text {
            color: #DF61F5;
            font-family: Copperplate, fantasy;
            font-size: 70px;
            margin-top: 20px;
            margin-left: 35px;
        }
    </style>
</head>
<body>
    <form>
        <div>
            <img src="./soundwave.png" height="125" width="650" />
        </div>
        <div id="breakup-text">
            <h2><span id="login-text">Login</span><span id="sync-text">Sync Up</span><span id="refresh-text">Refresh</span><span id="go-text">Go!</span></h2>
        </div>
        <div>
            <h2 id="text" font-size="70"><b>Find new music instantly!</b></h2>
            <p>
                With thousands of songs to browse from update your library today! Whether it's to keep you motivated <br />
                during a workout or just to freshen up your playlist we are here to help.  We partner with major music <br />
                streaming services like Apple Music, Prime Music & Spotify. The best part is our service is completely free!<br />
                No need to setup an account with us just log in below using your email and password associated with your <br />
                streaming account. <br />
            </p>
        </div>
        <div>
            <h4 id="text"><b>Select your music provider below to login:</b></h4>
            <button id="img-button" @onclick="@LoginNavigate" style="background: url(./spotifylogo.png)" />
            <button id="img-button" @onclick="@LoginNavigate" style="background: url(./applelogo.png)" />
            <button id="img-button" @onclick="@LoginNavigate" style="background: url(./primemusiclogo.png)" />
        </div>
    </form>

</body>
</html>



@code{ 

    private string GetPageTitle() => $"Tune Tip - Home Page";

    void LoginNavigate()
    {
        UriHelper.NavigateTo("/login");
    }
}