@inject NavigationManager UriHelper
@page "/"
@using MusicRecommendation.App.Components
<html>
<head>
    <style>
        button {
            border-radius: 12px;
            background-color: #C2248B;
            border: none;
            padding: 10px;
            color: white;
        }
    </style>
</head>
<body>

    <div>
        <img src="./soundwave.png" height="125" width="650" />
    </div>
    <div>
        <h4>Find new music instantly!</h4>
        <p>
            With hundreds of thousands of song to browse from update your library today!
            Whether it's to keep you motivated during a workout or just to freshen up your
            playlist we are here to help!
        </p>
    </div>
    <button @onclick="@LoginNavigate">Log in</button>
    <button @onclick="@SignUpNavigate">Sign up</button>
</body>
</html>

@code{
    void LoginNavigate()
    {
        UriHelper.NavigateTo("/login");
    }
    void SignUpNavigate()
    {
        UriHelper.NavigateTo("/signup");
    }
}