@page "/login"

@using MusicRecommendation.App.Components

<html>
<head>
    <PageTitle Value="@GetPageTitle()" />
</head>
<body>
    <div>
        <center><h5><b>Login</b></h5></center>
        <center><h6><b>To continue, log in with your streaming service credentials</b></h6></center>
        <div>
            <Login />
        </div>
    </div>
</body>
</html>



@code{

    private string GetPageTitle() => $"Tune Tip - Log In";

 }