@using MusicRecommendation.App.Components
@page "/login"
<html>
<body>
    <div>
        <center><h5>My Custom Login Page</h5></center>
        <div>
            <Login/>
        </div>
    </div>
</body>
</html>
