@page "/recommendations"
@using MusicRecommendation.App.Components
@inherits GridMusicBase
@inject NavigationManager UriHelper

<html>
<head>
    <style>
        button {
            border-radius: 12px;
            background-color: #FF6549;
            border: none;
            padding: 10px;
            color: white;
            margin-top: 10px;
        }

        #addmore {
            border-radius: 12px;
            background-color: #C2248B;
            border: none;
            padding: 10px;
            color: white;
            margin-top: 10px;
        }

        #submit {
            border-radius: 12px;
            background-color: #2ECC71;
            border: none;
            padding: 10px;
            color: white;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h6>Recommendations based on these songs:</h6>
        <RecommendationSongTable />
        <button @onclick="@onDeleteButtonClick">Delete List</button>
        <button id="addmore" @onclick="@onAddMoreButtonClick">Add More Songs</button>
        <button id="submit" @onclick="@onSubmitButtonClick">Submit</button>
        <div>
            <h4>Here's your recommendations:</h4>
            <h6>@responses</h6>
        </div>
    </div>
</body>
</html>
@code
    {

    private string responses;

    async void onDeleteButtonClick()
    {
        await MusicService.DeleteSelectedSongs();

        UriHelper.NavigateTo("/account");
    }

    void onAddMoreButtonClick()
    {

        UriHelper.NavigateTo("/account");
    }


    async void onSubmitButtonClick()
    {

        RecommendationList = await MusicService.GetSelectedSongs();


        responses = await MusicService.GetRecommendations();

        this.StateHasChanged();
    }



}
