@page "/recommendations"
@using MusicRecommendation.App.Components
@inherits RecommendationSongBase

    <html>
    <head>
        <style>
            button {
                border-radius: 12px;
                background-color: #FF6549;
                border: none;
                padding: 10px;
                color: white;
                margin-top: 10px;
            }

            #addmore {
                border-radius: 12px;
                background-color: #C2248B;
                border: none;
                padding: 10px;
                color: white;
                margin-top: 10px;
            }
            #submit {
                border-radius: 12px;
                background-color: #2ECC71;
                border: none;
                padding: 10px;
                color: white;
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <div>
            <h6>Recommendations based on these songs:</h6>
            <RecommendationSongTable />
            <button id="submit" @onclick="@onSubmitButtonClick">Submit</button>

<h3>RecommendationForm</h3>


@code {

    protected override async Task OnInitializedAsync()
    {


        var request = new HttpRequestMessage(HttpMethod.Get,
            "http://127.0.0.1:5000/");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);
        Console.WriteLine("I am about to make the API call");
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("I successfully made the GET all music call");
            var responseBody = await response.Content.ReadAsStringAsync();

            Console.WriteLine(responseBody);

        }
        else
        {
            System.Diagnostics.Debug.WriteLine("An error occured when fetching song data");
        }


    }

}
