@inherits LayoutComponentBase
@using MusicRecommender.App.Components
<div class="main">
    <MenuBar />
    <header>
        <h1>This is the header</h1>
    </header>
    <div class="content">
        @Body
    </div>
    <footer>
        This is the footer
    </footer>
</div>