@using MusicRecommendation.App.Models
@using Blazorise.DataGrid


<div>
    <DataGrid TItem="Music" Data="@songs">
        <DataGridColumn TItem="Music" Field="@nameof(Music.Artist)" Caption="Artist"></DataGridColumn>
        <DataGridColumn TItem="Music" Field="@nameof(Music.Song)" Caption="Song"></DataGridColumn>
        <DataGridColumn TItem="Music" Field="@nameof(Music.Album)" Caption="Album"></DataGridColumn>
    </DataGrid>
</div>


@code {

    public Music[] songs;
}
