@using MusicRecommendation.App.Shared
@inject NavigationManager UriHelper
@using MusicRecommendation.App.Components

<html>
<head>
    <style>
        button {
            border-radius: 12px;
            background-color: #C2248B;
            border: none;
            padding: 10px;
            color: white;
            text-align: center;
            width: 10%;
        }

        input {
            flex: 1;
            border-radius: 12px;
            border: 1px solid #ccc;
            padding: 8px;
        }

        form {
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <center>
        <form>
            <div class="form-group">
                <input @bind="UserName" type="text" placeholder="Username" name="email" autocomplete="off">
            </div>
            <div class="form-group">
                <input @bind="Password" type="password" placeholder="Password" name="password">
            </div>
            <div>
                <button @onclick="@onSignInClick"> Sign In </button>
            </div>
        </form>
    </center>
</body>
</html>


@code
{ 

    void HandleValidSubmit()
    {
        // Trivial login/authentication for now in development application

        if(UserName.Equals("testuser@yahoo.com") && Password.Equals("test"))
        {
            UriHelper.NavigateTo("/account");
        }
        else
        {
            UriHelper.NavigateTo("/login");
        }
    }

    void onSignInClick()
    {
        HandleValidSubmit();

    }
}
