@using MusicRecommendation.App.Models
@using System.Net.Http.Json
@using MusicRecommendation.App.Components
@using Blazorise.DataGrid
@using MusicRecommendation.App.Services
@inherits GridMusicBase
@inject HttpClient httpClient
@inject NavigationManager UriHelper

@if (RecommendationList == null)
{

    <p><em>Loading....</em></p>

}
else
{

<div>
    <DataGrid TItem="Music"
              Data="@RecommendationList"
              Sortable="true"
              Editable="false"
              ShowPager="true"
              PageSize="10">
        <DataGridColumn TItem="Music" Field="@nameof(Music.Artist)" Caption="Artist" Filterable="true"></DataGridColumn>
        <DataGridColumn TItem="Music" Field="@nameof(Music.Track)" Caption="Song" Filterable="true"></DataGridColumn>
        <DataGridColumn TItem="Music" Field="@nameof(Music.Album)" Caption="Album" Filterable="true"></DataGridColumn>
    </DataGrid>
</div>



}

@code {

protected override async Task OnInitializedAsync()
{
    RecommendationList = (await MusicService.GetSelectedSongs());

}




}
