@page "/friendoverview"
<h1 class="page-title"> All friends</h1>

@if (Friends == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Playlist Count</th>
                <th>Song Count</th>
        </tr>
        <tbody>
            @foreach (var friend in Friends)
            {
            <tr>

                <td>@friend.FirstName</td>
                <td>@friend.LastName</td>
                <td>@friend.PlaylistCount</td>
                <td>@friend.SongCount</td>
            
            </tr>
            }
        </tbody>
    </table>
}
