@inject NavigationManager UriHelper
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: SlateBlue;
        }

        li {
        }

            li label {
                float: left;
                color: white;
                text-align: center;
                padding: 14px 16px;
            }

            li a {
                float: right;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #D1C0EE;
                }
    </style>
</head>
<body>
    <ul>
        <li><label>Our app name here!</label></li>
        <li><a href="/support"@onclick="@SupportNavigate" >Support</a></li>
        <li><a href="/about" @onclick="@AboutNavigate">About</a></li>
        <li><a class="active" href="#home">Home</a></li>
    </ul>
</body>
</html>

@code {
    void SupportNavigate()
    {
        UriHelper.NavigateTo("/support");
    }
    void AboutNavigate()
    {
        UriHelper.NavigateTo("/about");
    }


}